<h1>Auctions</h1>
<br>
<% if !@auctions.present? %>
  <p>There are no auctions at this time.</p>
<% else %>
  <% @auctions.each do |p| %>
    <% if p.published? || (can? :manage_auction, p) %>
      <%= link_to p.title, auction_path(p) %>
      <hr>
    <% end %>
  <% end %>
<% end %>
</div>
<div class="paginator"><%= paginate @auctions %></div>
